:root {
  font-family: 'Courier New', Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
h1 {
  margin: 0;
}
a:hover {
  color: rgb(86, 145, 93) !important;
  text-decoration: underline;
  text-underline-offset: 8px !important;
  text-decoration-style: wavy !important;
  text-decoration-thickness: 1.5px !important;
}

.text-primary {
  color: rgb(97, 161, 105);
}
.bg-primary {
  background-color: rgb(129, 211, 138);
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-left {
  text-align: left;
}
.underline-none {
  text-decoration: none;
}
.bg-bisque {
  background-color: bisque;
}
.list-none {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.justify-evenly {
  justify-content: space-evenly;
}
.content-evenly {
  align-content: space-evenly;
}
.items-center {
  align-items: center;
}
.card_section {
  max-width: 900px;
  /* max-width: 630px; */
  width: 900px;
}
.card {
  /* width: 290px; */
  flex: 0 0 calc(100% / 3 - 20px);
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 3 - 20px); */
}
.z-10 {
  z-index: 10;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.bg-slate {
  background-color: rgb(61, 61, 61);
}
.bg-slate-400 {
  background-color: rgb(122, 122, 121);
}
.flex-grow {
  flex-grow: 1;
}
.mx-auto {
  margin: 0 auto;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: auto auto;
}
.grid-cols-3 {
  grid-template-columns: auto auto auto;
}
.gap-1 {
  gap: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-0 {
  margin-top: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.m-0 {
  margin: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.pt-2 {
  padding-top: 1rem;
}
.max-w-lg {
  max-width: 920px;
}
.w-860px {
  max-width: 920px;
}
.card_image {
  object-fit: contain;
}
.rounded-lg {
  border-radius: 10px;
}
.rounded-t-lg {
  border-radius: 10px 10px 0 0;
}
.rounded-b-lg {
  border-radius: 0 0 10px 10px;
}
.rounded-l-lg {
  border-radius: 10px 0 0 10px;
}
.shadow {
  box-shadow: 0px 10px 20px 0px rgba(91, 85, 85, 0.27);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(91, 85, 85, 0.27);
  -moz-box-shadow: 0px 10px 20px 0px rgba(91, 85, 85, 0.27);
}
.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}
.h-20 {
  height: 15rem;
}
.h-400px {
  height: 400px;
}
.h-full {
  height: 100%;
}
.w-10 {
  width: 10rem;
}
.overflow {
  overflow: auto;
}
.list-none {
  list-style-type: none;
}
.bg-white {
  background-color: white;
}
.text-line-through {
  text-decoration: line-through;
}

.web_desc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_add_item {
  border-radius: 10px;
}
.button_add_item:hover {
  color: white;
  opacity: 0.8;
}
.product_form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_field > label {
  color: rgb(54, 95, 60);
}
.form_field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
.input {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgba(114, 181, 123, 0.334);
}
.main_section {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.image_profile {
  aspect-ratio: 1/1;
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid antiquewhite;
  background-color: white;
  box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
  -webkit-box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
  -moz-box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
}

.profile_section {
}

.social_media_list {
  list-style: none;
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social_media:hover {
  color: darkorchid;
}

.social_media_list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  padding-left: 0;
}

.social_media_list_item {
  display: flex;
}

.social_media_icon {
  width: 20px;
  height: 20px;
}

.about_me {
  margin-bottom: 1rem;
}

.social_media_title {
  font-size: 1rem;
}
.social_media_section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(167, 167, 167);
  padding: 20px;
  border: 2px solid rgb(170, 166, 166);
  border-radius: 10px;
  box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
  -webkit-box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
  -moz-box-shadow: -10px 10px 0px 0px rgba(91, 85, 85, 0.57);
}
.social_media_section a {
  color: rgb(97, 161, 105);
}
.social_media_section {
  background-color: white;
  margin-bottom: 0;
}

.social_media_section > ul {
  margin: 0;
}
.my_profile_image{
  background-color: rgb(143, 224, 162);
  border-radius: 10px;
  border: 2px solid rgb(95, 157, 110);
}
